@import "tailwindcss";

:root{
    --primary-color: #AACBD2;
    --secondary-color: #BFA5D4 ;
    --tertiary-color: #A8D5BA  ;
    --quaternary-color: #3e4044;
    --primary-bold: #6A8C99 ; 
    --secondary-bold: #8F6BAF  ;
    --tertiary-bold: #4A6D52    ;
}


body {
  overflow: auto;
}

::-webkit-scrollbar {
  width: 0px; 
  background: transparent;
}


.primary-color
{
    color: var(--primary-color);
}

.secondary-color
{
    color: var(--secondary-color);
}

.tertiary-color
{
    color: var(--tertiary-color);
}

.quaternary-color
{
    color: var(--quaternary-color);
}

.bg-primary {

    background-color: var(--primary-color);
  }


.bg-secondary {
    background-color: var(--secondary-color);
}
  
  .bg-tertiary {

    background-color: var(--tertiary-color);
  }

  .black-letter {
    color: var(--quaternary-color);
  }

  .popUp{
    transition: transform 0.5s;
  }

  .popUp:hover {
    transform: scale(1.2) translateY(-10%); /* Escala y mueve hacia abajo un 10% */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; 
}
.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}



h1 {
  @apply text-3xl font-bold mb-4 mt-8 ;
  color: var(--primary-bold);
}

h2 {
  @apply text-2xl font-bold mb-4 mt-8;
  color: var(--secondary-bold);
}

h3 {
  @apply text-xl font-semibold mb-3 mt-6;
  color: var(--tertiary-bold);
}

p {
  @apply mb-4 text-gray-800;
}

ul {
  @apply list-disc list-inside mb-4;
}

ol {
  @apply list-decimal list-inside mb-4;
}

li {
  @apply mb-2;
}

strong {
  color: var(--bold);
}

a {
  color: var(--secondary-bold);
}
