---
import '../styles/global.css'
---

<header class="w-screen backdrop-blur-md  shadow-md bg-white/30  p-4" style="position: absolute; top:0;" >
   
      <div class="flex items-center space-x-4 justify-end">
        <a href="./" class=" font-semibold px-2.5 py-0.5 rounded popUp">Inicio</a>
        <a href="./skills" class=" font-semibold px-2.5 py-0.5 rounded popUp">Skills</a>
        <a href="./projects" class=" font-semibold px-2.5 py-0.5 rounded popUp">Proyectos</a>
      </div>
  </header>