---
import '../styles/global.css'
---

<header class="w-screen backdrop-blur-md  shadow-md bg-white/30  p-4 sticky top-0 z-100" >
   
      <div class="flex items-center space-x-4 justify-end">
        <a  href="/" class=" font-semibold px-2.5 py-0.5 rounded popUp quaternary-color">Inicio</a>
        <a  href="/skills" class=" font-semibold px-2.5 py-0.5 rounded popUp quaternary-color">Skills</a>
        <a href="/projects" class=" font-semibold px-2.5 py-0.5 rounded popUp quaternary-color">Proyectos</a>
      </div>
  </header>