---
import { Image } from 'astro:assets';

interface cover  {
    src_base: string;
    src_hover: string;
    alt: string;
}

const {src_base, src_hover, alt} = Astro.props;
---


<div class="popUp relative w-[500px] h-[500px] flex items-center justify-center">
    <!-- Imagen Base -->
    <div class="absolute inset-0">
        <Image
        src={src_base}
        alt={alt}
        width={500}
        height={500}
        class="w-full h-auto rounded-full p-10"
      />
    </div>

    <!-- Imagen que aparece con hover -->
    <div class="absolute inset-0 opacity-0 transition-opacity duration-300 hover:opacity-100">
        <Image
        src={src_hover}
        alt={alt}
        width={500}
        height={500}
        class="w-full h-auto rounded-full p-10"
      />
    </div>
</div>

